<html>
<head>
	<title>Have you forgot your password?</title>
	#include( "email/styles.vm" )
<head>
<body>
	<h1>Have you forgot your password?</h1>
<p>Hello $name,</p>
<p>We received a request to reset your password. In case the request was issued by you or in your behalf we would like to inform you that this is a simple operation. Instead of thinking too much at <i>how could that happen?</i> all you have to do is follow the link below and set a new password.</p>
<a href="$link">Forgot password</a>
<p>In case you didn't issue this request, don't worry, the password you had is not changed.</p>
<p><b>NOTE:</b> The <i>Forgot Password</i> link is valid only for 24 hours. In case you do not change your password in time, link will be invalidated. You go one more time on <i>Forgot password</i> link in that case.</p>

Regards,<br />
Free Issue Manager (<span class="asimovF">F</span>.I.M.) Team
</body>
</html>