<html>
<head>
	<title>Invitation to join to F.I.M.</title>
	#include( "email/styles.vm" )
<head>
<body>
	<h1>Invitation to join <span class="asimovF">F</span>.I.M.</h1>
<p>Hello,</p>
<p>You were invited to join F.I.M. In order to facilitate your registration we created an account with minimal information about you (the e-mail address, first name and last name). The account was not activated. 
You can perform activation by clicking this: <a href="$link">Activate account</a> link and continue filling in the mandatory data.</p>
<p><b>NOTE:</b> The link is valid only for 24 hours. In case you do not activate the account in time, it will be wiped out from the system (with all the data about you).</p>

Regards,<br />
Free Issue Manager (<span class="asimovF">F</span>.I.M.) Team
</body>
</html>