<style type="text/css">
	.asimovF {
		 display:inline-block; 
		 -moz-transform: scaleX(-1);
		 -ms-transform: scaleX(-1);
		 -webkit-transform: scaleX(-1);
		 -o-transform: scaleX(-1);
		 transform: scaleX(-1); 
	}
</style>